<p-breadcrumb [model]="items" />

@if (product) {
<section class="">
  <div class="px-4 py-10">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
      <!-- Imagen -->
      <div class="flex justify-center items-center bg-primary-50 dark:shadow-lg rounded-2xl p-6">
        <p-image
          [src]="product.url_img || ''"
          [alt]="product.url_img || ''"
          imageClass="max-h-[400px] w-full object-contain remove-white-bg"
          class="flex items-center justify-center"
          [preview]="true"
        />
        <!-- <img [src]="product.url" alt="Product Image" class="max-h-[400px] w-full object-contain" />   -->
      </div>

      <!-- Detalles del producto -->
      <div class="flex flex-col gap-10 justify-between">
        <span class="text-5xl font-bold text-primary-800 dark:text-primary-100">{{product.name}}</span>

        <div class="flex items-center gap-2">
          <span class="bg-primary-200 py-2 px-4 rounded-md font-bold text-primary-800">{{product.category_name}}</span>
          <span class="bg-primary-200 py-2 px-4 rounded-md font-bold text-primary-800">{{product.brand}}</span>
          @if (product.discount != 0) {
          <span class="bg-primary-200 py-2 px-4 rounded-md font-bold text-primary-800">{{product.discount}}% OFF</span>
          }
        </div>

        <div class="text-xl font-semibold flex flex-col">
          <span class="text-primary-800 dark:text-primary-200 mb-5">Tasa: {{getPriceDolarConfiguration()?.price}} bs</span>
          <span class="text-primary-800 font-bold dark:text-primary-200">Precio:</span>
          <div class="flex gap-2 items-end">
            <span class="text-primary-600 dark:text-primary-400 text-3xl font-black"
              >{{calculatePriceForBs(product.price)|currency:'Bs'}}</span
            >
            <span class="text-primary-500 dark:text-primary-300 text-2xl mr-2">{{product.price |currency:'USD'}}</span>
          </div>
        </div>

        <ul class="text-base text-primary-600 space-y-1">
          <div class="flex gap-2 dark:text-primary-400 items-center">
            <i class="pi pi-check-circle"></i>
            <span class="flex gap-2 items-center">Entrega gratuita disponible</span>
          </div>
          <div class="flex gap-2 dark:text-primary-400 items-center">
            <i class="pi pi-check-circle"></i>
            <span class="flex gap-2 items-center">Ventas 30% de descuento</span>
          </div>
        </ul>

        <hr class="my-4 text-primary-600" />

        <!--  
      <div>
        <p class="font-semibold mb-2">Color:</p>
        <div class="flex gap-3">
          <button class="h-6 w-6 rounded-full bg-gray-700 border-2 border-gray-500"></button>
          <button class="h-6 w-6 rounded-full bg-pink-300 border-2 border-transparent"></button>
        </div>
      </div>
 
      <div>
        <p class="font-semibold mb-2">Storage:</p>
        <div class="flex gap-3">
          <button class="px-3 py-1 rounded-lg border border-primary text-primary font-medium">128 GB</button>
          <button class="px-3 py-1 rounded-lg border border-gray-400 text-gray-600 font-medium">64 GB</button>
        </div>
      </div>
 
      <div>
        <p class="font-semibold mb-2">Sim:</p>
        <div class="flex gap-3">
          <button class="px-3 py-1 rounded-lg border border-primary text-primary font-medium">Dual</button>
          <button class="px-3 py-1 rounded-lg border border-gray-400 text-gray-600 font-medium">E Sim</button>
        </div>
      </div> -->

        <!-- <hr class="my-4 text-primary-300" /> -->

        <!-- Cantidad + Botones -->
        <div class="flex flex-col md:flex-row items-center gap-4">
          <!-- <div class="w-full md:w-50">
            <app-items-button
              [amount]="product.quantity"
              (addAmount)="addAmount(product)"
              (subtractAmount)="subtractAmount(product)"
            ></app-items-button>
          </div> -->
          <button
            (click)="redirectCheckout(product)"
            class="hover:bg-primary-700 cursor-pointer px-4 py-4 rounded-md bg-primary-800 w-full md:w-100 text-primary-50 font-bold"
          >
            Comprar
          </button>

          <button
            (click)="addToCart(product)"
            class="hover:bg-primary-200 cursor-pointer px-4 py-4 rounded-md bg-primary-100 w-full md:w-60 text-primary-900 border border-primary-200 flex gap-2 justify-center font-bold"
          >
            <i class="pi pi-shopping-cart"></i>
            Carrito
          </button>
        </div>
      </div>
    </div>

    <p-tabs class="mt-10" value="0">
      <p-tablist>
        <p-tab value="0">Descripción</p-tab>
        <p-tab value="1">Detalles</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <div class="flex flex-col gap-5">
            <span class="text-3xl text-primary-800 font-bold dark:text-primary-200">Especificaciones</span>

            <span>{{product.description}}</span>
          </div>
        </p-tabpanel>
        <p-tabpanel value="1">
          <div class="flex flex-col gap-5">
            <span class="text-3xl text-primary-800 font-bold dark:text-primary-200">Detalles</span>

            <div class="flex flex-col gap-5 w-full lg:w-1/2">
              @for (item of getAttributesProduct(); track $index) {
              <div class="flex justify-between border-b border-primary-300 py-4">
                <span class="text-xl">{{ labelAttributesSpanish(item[0]) }}</span>
                @if (item[0] == 'color') {
                <input type="color" [value]="item[1]" disabled class="w-10 h-10 rounded-2xl" />
                }@else { <span class="font-black text-primary-800 dark:text-primary-400">{{ item[1] }}</span>}
              </div>
              }
            </div>
          </div>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</section>
}

<!-- PRODUCTOS -->
<!-- <section>
  <div appScrollReveal class="flex justify-between">
    <p class="text-2xl md:text-4xl text-primary-800 dark:text-primary-50">Productos similares</p>
    <div class="flex gap-2">
      <p-button icon="pi pi-angle-left" variant="outlined" />
      <p-button icon="pi pi-angle-right" variant="outlined" />
    </div>
  </div>
 

  <section class="grid grid-cols-1 md:grid-cols-12 gap-5 gap-y-20">
    <ng-container #productContainer></ng-container>
  </section>
</section> -->

<!-- <div class="grid grid-cols-1 md:grid-cols-12 gap-5 gap-y-20">
    @for (product of products; track $index) {
    <app-product class="col-span-3 md:col-span-6 lg:col-span-3" [product]="product"></app-product>
    }
  </div> -->
