<div class="mt-3 mr-4">
  <p-overlaybadge class="cursor-pointer" (click)="viewShoppingCard.set(true)" [value]="products.length">
    <i class="pi pi-shopping-cart" style="font-size: 2rem; color: var(--color-primary-100)"></i>
  </p-overlaybadge>
</div>

<p-drawer styleClass="!w-full  md:!w-[30rem]" [(visible)]="viewShoppingCard" header="Carrito de productos"
  position="right">
  <div class="flex flex-col gap-0.5-5">
    @for (product of products; track $index) {
    <div class="flex items-center justify-between shadow-md rounded p-4 mb-3  ">
      <!-- Imagen -->
      <div class="flex items-center gap-4">
        <img [src]="product.url" [alt]="product.url" class="w-20 h-20 object-contain rounded-lg" />
        <!-- Info del producto -->
        <div class="flex flex-col">
          <span class="font-semibold text-2xl text-primary-900">{{product.name}}</span>
          <span class="font-semibold text-lg text-primary-900">{{product.quantity}}</span>
          <div class="flex justify-start gap-3 items-center">
            <span class="text-lg text-primary-800">${{product.price}}</span>
            <span class="text-sm text-primary">{{product.price_bs}}bs</span>
          </div>

          <div class="w-30 mt-5">
            <app-items-button size="small"></app-items-button>
          </div>

        </div>
      </div>

      <!-- Precios y eliminar -->
      <div class="flex flex-col justify-end">
        <p-button icon="pi pi-trash" [text]="true" severity="danger" size="small"></p-button>

      </div>
    </div>

    }
  </div>
</p-drawer>