<form
  [ngClass]="{ `bg-surface-0 dark:bg-surface-900 p-8 md:p-8 shadow-sm rounded-2xl
     w-full max-w-xl mx-auto flex flex-col gap-8`: mode_component === 'account' }"
  [formGroup]="registerForm"
  (ngSubmit)="createUser()"
>
  <!-- SI ESTA EN MODO CREAR CUENTA SE MOSTRARA -->
  @if (mode_component==='account' ) {
  <!-- Header -->
  <div class="flex flex-col items-center gap-4">
    <div class="flex items-center gap-4">
      <img src="assets/images/logotipo.png" alt="logo" class="w-20" />
    </div>
    <div class="flex flex-col items-center gap-2 w-full">
      <!-- <div class="text-surface-900 dark:text-surface-0 text-2xl font-semibold leading-tight text-center w-full">Welcome Back</div> -->
      <div class="text-center w-full">
        <span class="text-surface-700 dark:text-surface-200 leading-normal">Ya tienes una cuenta?</span>
        <a class="text-primary font-medium ml-1 cursor-pointer hover:text-primary-emphasis" routerLink="/auth/login"
          >Iniciar Sesión</a
        >
      </div>
    </div>
  </div>
  }

  <!-- DATOS PERSONALES -->
  <div class="grid grid-cols-12 gap-6">
    <!-- Nombre -->
    <div class="col-span-12 md:col-span-6">
      <label for="nombre" class="block mb-2 text-sm text-primary">Nombre</label>
      <input
        pInputText
        id="nombre"
        nombre="email"
        type="text"
        placeholder="Jorge David"
        formControlName="name"
        class="w-full mb-2"
        [ngClass]="registerForm.get('name')?.hasError('invalid') && registerForm.get('name')?.dirty ? 'ng-invalid ng-dirty' : ''"
      />
      @if (registerForm.get('name')?.hasError('required')&& registerForm.get('name')?.dirty) {
      <p-message severity="error" variant="simple" size="small">El nombre es obligatorio</p-message>
      }
    </div>

    <!-- Apellido -->
    <div class="col-span-12 md:col-span-6">
      <label for="apellido" class="block mb-2 text-sm text-primary">Apellido</label>
      <input formControlName="last_name" pInputText id="apellido" type="text" placeholder="Garcia Espinosa" class="w-full" />
    </div>

    <!-- Correo -->
    <div class="col-span-12 md:col-span-6">
      <label for="correo" class="block mb-2 text-sm text-primary">Correo</label>
      <input
        pInputText
        id="correo"
        type="email"
        formControlName="email"
        placeholder="jorge.david@gmail.com"
        class="w-full mb-2"
        [ngClass]="registerForm.get('email')?.hasError('invalid') && registerForm.get('email')?.dirty ? 'ng-invalid ng-dirty' : ''"
      />
      @if (registerForm.get('email')?.hasError('required')&& registerForm.get('email')?.dirty) {
      <p-message severity="error" variant="simple" size="small">El correo es obligatorio</p-message>
      }
    </div>
    <!-- cedula -->
    <div class="col-span-12 md:col-span-4">
      <label for="ci" class="block mb-2 text-sm text-primary">Cédula</label>
      <input
        pInputText
        formControlName="ci"
        id="ci"
        type="text"
        placeholder="303297834"
        class="w-full mb-2"
        [ngClass]="registerForm.get('ci')?.hasError('invalid') && registerForm.get('ci')?.dirty ? 'ng-invalid ng-dirty' : ''"
      />
      @if (registerForm.get('ci')?.hasError('required')&& registerForm.get('ci')?.dirty) {
      <p-message severity="error" variant="simple" size="small">La cedula es obligatoria</p-message>
      } @if (registerForm.get('ci')?.hasError('minlength') ) {
      <p-message severity="error" variant="simple" size="small">La cedula debe tener 7 digitos</p-message>
      }
    </div>

    <div class="col-span-12 md:col-span-2">
      <label for="ci" class="block mb-2 text-sm text-primary">Edad</label>
      <input
        pInputText
        formControlName="age"
        id="age"
        type="text"
        class="w-full mb-2"
        [ngClass]="registerForm.get('age')?.hasError('invalid') && registerForm.get('age')?.dirty ? 'ng-invalid ng-dirty' : ''"
      />
      @if (registerForm.get('age')?.hasError('required')&& registerForm.get('age')?.dirty) {
      <p-message severity="error" variant="simple" size="small">La edad es obligatoria</p-message>
      }
    </div>

    <!-- seleccionar grupo -->
    <div class="col-span-12 md:col-span-6">
      <label for="phone" class="block mb-2 text-sm text-primary">Teléfono</label>
      <input
        formControlName="phone"
        pInputText
        id="phone"
        type="number"
        placeholder="04245364786"
        class="w-full mb-2"
        [ngClass]="registerForm.get('phone')?.hasError('invalid') && registerForm.get('phone')?.dirty ? 'ng-invalid ng-dirty' : ''"
      />
      @if (registerForm.get('phone')?.hasError('required')&& registerForm.get('phone')?.dirty) {
      <p-message severity="error" variant="simple" size="small">El teléfono es obligatorio</p-message>
      }
    </div>

    <!-- seleccionar grupo -->
    <div class="col-span-12 md:col-span-6">
      <label for="phone" class="block mb-2 text-sm text-primary">Teléfono 2</label>
      <input formControlName="phone_2" pInputText id="phone" type="number" placeholder="04245364786" class="w-full" />
    </div>

    <!-- seleccionar grupo -->
    <div class="col-span-12">
      <label for="correo" class="block mb-2 text-sm text-primary">Caja de ahorro</label>
      <p-select
        formControlName="public_group_id"
        [options]="public_groups"
        [loading]="loading_public_groups()"
        optionLabel="name"
        optionValue="id"
        placeholder="Seleccionar caja de ahorro"
        class="w-full mb-2"
        [ngClass]="registerForm.get('public_group_id')?.hasError('invalid') && registerForm.get('public_group_id')?.dirty ?
           'ng-invalid ng-dirty' : ''"
      />
      @if (registerForm.get('public_group_id')?.hasError('required')&& registerForm.get('public_group_id')?.dirty) {
      <p-message severity="error" variant="simple" size="small">La caja de ahorro es obligatoria</p-message>
      }
    </div>

    <div class="col-span-12 md:col-span-4">
      <label for="correo" class="block mb-2 text-sm text-primary">Estado</label>
      <p-select
        formControlName="state_id"
        [filter]="true"
        filterBy="name"
        [options]="states"
        [loading]="loading()"
        optionLabel="name"
        optionValue="id"
        placeholder="Seleccionar estado"
        class="w-full mb-2"
        (onChange)="getCities($event.value)"
        [ngClass]="registerForm.get('state_id')?.hasError('invalid') && registerForm.get('state_id')?.dirty ?
           'ng-invalid ng-dirty' : ''"
      />
      @if (registerForm.get('state_id')?.hasError('required')&& registerForm.get('state_id')?.dirty) {
      <p-message severity="error" variant="simple" size="small">El estado es obligatorio</p-message>
      }
    </div>

    <div class="col-span-12 md:col-span-4">
      <label for="correo" class="block mb-2 text-sm text-primary">Municipio</label>
      <p-select
        formControlName="city_id"
        [filter]="true"
        filterBy="name"
        [options]="municipalities"
        [loading]="loading()"
        optionLabel="name"
        optionValue="id"
        placeholder="Seleccionar Municipio"
        class="w-full mb-2"
        (onChange)="getParishes($event.value)"
      />
      @if (registerForm.get('city_id')?.hasError('required')&& registerForm.get('city_id')?.dirty) {
      <p-message severity="error" variant="simple" size="small">El municipio es obligatorio</p-message>
      }
    </div>

    <div class="col-span-12 md:col-span-4">
      <label for="correo" class="block mb-2 text-sm text-primary">Parroquia</label>
      <p-select
        formControlName="parish_id"
        [filter]="true"
        filterBy="name"
        [options]="parishes"
        optionLabel="name"
        optionValue="id"
        placeholder="Seleccionar parroquia"
        class="w-full mb-2"
      />
      @if (registerForm.get('parish_id')?.hasError('required')&& registerForm.get('parish_id')?.dirty) {
      <p-message severity="error" variant="simple" size="small">La parroquia es obligatoria</p-message>
      }
    </div>

    <!-- ContraseñaS-->
    <div class="col-span-12" [ngClass]="{'md:col-span-6': mode_component!=='account'}">
      <label for="correo" class="block mb-2 text-sm text-primary">Contraseña</label>
      <p-password formControlName="password" [toggleMask]="true" class="w-full" inputStyleClass="w-full" />
    </div>

    <div class="col-span-12" [ngClass]="{'md:col-span-6': mode_component!=='account'}">
      <label for="correo" class="block mb-2 text-sm text-primary">Repetir Contraseña</label>
      <p-password
        formControlName="password_confirmation"
        [toggleMask]="true"
        class="w-full"
        inputStyleClass="w-full mb-2"
        [ngClass]="registerForm.get('password_confirmation')?.hasError('invalid') && registerForm.get('password_confirmation')?.dirty ?
           'ng-invalid ng-dirty' : ''"
      />
      @if (registerForm.errors?.['passwordMismatch'] && registerForm.get('password_confirmation')?.dirty) {
      <p-message severity="error" variant="simple" size="small">Las contraseñas no coinciden</p-message>
      }
    </div>
  </div>

  @if (mode_component ==='account') {
  <!-- Botón -->
  <button pButton type="submit" class="w-full py-2 rounded-lg flex justify-center items-center gap-2">
    <i pButtonIcon class="pi pi-user text-base! leading-normal!"></i>
    <span pButtonLabel>Crear Cuenta</span>
  </button>
  }
</form>
