<app-home></app-home>

<section class="pt-15">
  <div appScrollReveal class="flex justify-between">
    <p class="text-4xl text-surface-800 dark:text-primary-50">Nuevos productos</p>
    <p-button routerLink="/shop" label="Ver mas" variant="outlined" />
  </div>

  <!-- PRODUCTOS -->
  <div class="grid grid-cols-1 md:grid-cols-12 gap-5 gap-y-20">
    @for (product of products; track $index) {
    <app-product class="col-span-3 md:col-span-6 lg:col-span-3" [product]="product"></app-product>
    }
  </div>

  <!-- DESCUENTOS -->
  <section class="grid grid-cols-1 mt-20 gap-10">
    @if (product_offer) {
    <div appScrollReveal origin="top"
      class="relative flex flex-col md:flex-row items-center justify-evenly gap-10 p-10 lg:p-20 bg-white  dark:bg-primary-900 shadow-lg rounded-2xl overflow-hidden">
      <!-- TEXTO -->
      <div class="flex flex-col gap-4 text-surface-900 max-w-xl">
        <span class="text-xl sm:text-2xl md:text-3xl font-medium"> {{ product_offer.name }} </span>

        <span class="text-3xl sm:text-4xl md:text-5xl font-bold">
          {{ product_offer.discount + '% de descuento' | uppercase }}
        </span>

        <p class="text-sm sm:text-base md:text-lg text-surface-600 line-clamp-4">{{ product_offer.description }}</p>

        <app-button-checkout class="mt-5" [product]="product_offer"></app-button-checkout>
      </div>

      <!-- IMAGEN (CONTROLADA) -->
      @if (layoutService.isDesktop()) {
      <div class="flex justify-center md:justify-end w-full md:w-auto">
        <img [src]="product_offer.url_img" [alt]="product_offer.name"
          class="max-h-[260px] md:max-h-[320px] lg:max-h-[380px] object-contain drop-shadow-xl" />
      </div>
      }
    </div>

    }@else {
    <p-skeleton class="mb-2" height="30rem" />
    }

    <div class="flex flex-col md:flex-row justify-between gap-10">
      <!-- Tarjeta producto 1 -->
      <div appScrollReveal [rotate]=" { x: 0, y: 0, z: 50 }"
        class="bg-surface-900 rounded-xl w-full p-5 flex items-center justify-between shadow-md">
        <div>
          <p class="font-bold text-surface-100 text-3xl">iPhone 16 Pro & Max</p>
          <div class="mt-2">
            <span class="font-bold text-4xl text-yellow-400">$600</span>
            <span class="line-through text-lg text-gray-400 ml-1">$898</span>
          </div>
          <app-button-checkout class="mt-5 block"></app-button-checkout>
        </div>
        <img class="w-30 object-contain" src="https://m.media-amazon.com/images/I/61bK6PMOC3L._AC_SL1500_.jpg"
          alt="iphone" />
      </div>

      <!-- Tarjeta producto 2 -->
      <div appScrollReveal [rotate]=" { x: 0, y: 0, z: -50 }"
        class="bg-surface-900 rounded-xl w-full p-5 flex items-center justify-between shadow-md">
        <div>
          <p class="font-bold text-surface-100 text-3xl">iPhone 16 Pro & Max</p>
          <div class="mt-2">
            <span class="font-bold text-4xl text-yellow-400">$600</span>
            <span class="line-through text-lg text-gray-400 ml-1">$898</span>
          </div>

          <app-button-checkout class="mt-5 block"></app-button-checkout>
        </div>
        <img class="w-30 object-contain" src="https://m.media-amazon.com/images/I/61bK6PMOC3L._AC_SL1500_.jpg"
          alt="iphone" />
      </div>
    </div>
  </section>
</section>