<div class="flex flex-col gap-3 cursor-pointer" [routerLink]="['/product', product.id]">
  <div class="bg-primary-50 rounded-xl shadow-lg p-3 border border-primary-100 relative product-car">
    <div class="flex flex-col justify-center">
      <div class="flex justify-between">
        <span class="bg-primary-200 py-2 px-4 rounded-md font-bold text-primary-800">{{product.brand}}</span>
        @if (product.discount != 0) {
        <span class="bg-primary-700 py-2 px-4 rounded-md font-medium text-primary-200">{{product.discount+' % OFF'}}</span>
        }
      </div>
      <div class="flex justify-center">
        <img class="w-60 object-contain" [src]="product.url" alt="imagen" />
      </div>
    </div>
    <!-- ELEMENTOS FLOTANTES -->
    <div class="flex actions-product gap-3">
      <p-button
        (onClick)="viewProduct(product, $event)"
        icon="pi pi-eye"
        [raised]="true"
        severity="secondary"
        size="large"
      ></p-button>
      <p-button
        (onClick)="addToCart(product, $event)"
        icon="pi pi-shopping-cart"
        [raised]="true"
        size="large"
        label="Agregar"
        severity="primary"
      ></p-button>
    </div>
  </div>
  <!-- SECCION DE DATOS -->
  <div class="flex flex-col gap-3">
    <span class="font-bold text-primary-700 dark:text-primary-100 text-2xl">{{product.name}}</span>
    <div class="flex gap-2 items-end">
      <span class="text-primary dark:text-primary-300 font-medium text-3xl">${{product.price}}</span>
      <span class="text-primary-300 dark:text-primary-50 font-semibold text-sm">{{product.price_bs}} bs</span>
    </div>
    <div class="flex justify-end">
      <div
        class="flex gap-2 text-primary-300 bg-primary-600 w-fit px-2 py-1 items-center justify-end rounded-md text-xs font-bold"
      >
        <span>Disponible</span>
      </div>
    </div>
  </div>
</div>

<!-- VISUALIZAR PRODUCXTO EN MODAL -->
<p-dialog [modal]="true" [(visible)]="modalViewProduct" [style]="{ width: '980px'}">
  <section class="dark:bg-primary-50">
    <div class="">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
        <!-- Imagen -->
        <div class="flex justify-center items-center bg-primary-50 dark:shadow-lg rounded-2xl p-6">
          <p-image
            [src]="product.url"
            alt="Image"
            imageClass="max-h-[400px] w-full object-contain"
            class="flex items-center justify-center"
            [preview]="true"
          />
          <!-- <img [src]="product.url" alt="Product Image" class="max-h-[400px] w-full object-contain" />   -->
        </div>

        <!-- Detalles del producto -->
        <div class="flex flex-col gap-10 justify-between">
          <span class="text-5xl font-bold text-primary-800">{{product.name}}</span>

          <div class="flex items-center gap-2">
            <span class="bg-primary-200 py-2 px-4 rounded-md font-bold text-primary-800">{{product.category}}</span>
            <span class="bg-primary-200 py-2 px-4 rounded-md font-bold text-primary-800">{{product.brand}}</span>
            <span class="bg-primary-200 py-2 px-4 rounded-md font-bold text-primary-800">{{product.discount}}% OFF</span>
          </div>

          <div class="text-xl font-semibold flex flex-col">
            <span class="text-primary-800 mb-5">Tasa: 210.34bs</span>
            <span class="text-primary-800 font-bold">Precio:</span>
            <div class="flex gap-2 items-end">
              <span class="text-primary-600 text-3xl font-black">Bs {{product.price_bs}}</span>
              <span class="text-primary-500 text-2xl mr-2">${{product.price}}</span>
            </div>
          </div>

          <ul class="text-base text-primary-600 space-y-1">
            <div class="flex gap-2 items-center">
              <i class="pi pi-check-circle"></i>
              <span class="flex gap-2 items-center">Entrega gratuita disponible</span>
            </div>
            <div class="flex gap-2 items-center">
              <i class="pi pi-check-circle"></i>
              <span class="flex gap-2 items-center">Ventas 30% de descuento</span>
            </div>
          </ul>

          <hr class="my-4 text-primary-600" />

          <!--  
      <div>
        <p class="font-semibold mb-2">Color:</p>
        <div class="flex gap-3">
          <button class="h-6 w-6 rounded-full bg-gray-700 border-2 border-gray-500"></button>
          <button class="h-6 w-6 rounded-full bg-pink-300 border-2 border-transparent"></button>
        </div>
      </div>
 
      <div>
        <p class="font-semibold mb-2">Storage:</p>
        <div class="flex gap-3">
          <button class="px-3 py-1 rounded-lg border border-primary text-primary font-medium">128 GB</button>
          <button class="px-3 py-1 rounded-lg border border-gray-400 text-gray-600 font-medium">64 GB</button>
        </div>
      </div>
 
      <div>
        <p class="font-semibold mb-2">Sim:</p>
        <div class="flex gap-3">
          <button class="px-3 py-1 rounded-lg border border-primary text-primary font-medium">Dual</button>
          <button class="px-3 py-1 rounded-lg border border-gray-400 text-gray-600 font-medium">E Sim</button>
        </div>
      </div> -->

          <!-- <hr class="my-4 text-primary-300" /> -->

          <!-- Cantidad + Botones -->
          <div class="flex flex-col md:flex-row items-center gap-4">
            <div class="flex justify-between items-center border text-2xl border-primary-300 rounded-lg w-full md:w-50">
              <p-button icon="pi pi-minus" [text]="true" severity="primary" size="large"></p-button>
              <span class="px-4 text-primary-500">1</span>
              <p-button icon="pi pi-plus" [text]="true" severity="primary" size="large"></p-button>
            </div>

            <button
              class="hover:bg-primary-700 cursor-pointer px-4 py-4 rounded-md bg-primary-800 w-full md:w-100 text-primary-50 font-bold"
            >
              Comprar
            </button>

            <button
              class="hover:bg-primary-200 cursor-pointer px-4 py-4 rounded-md bg-primary-100 w-full md:w-60 text-primary-900 border border-primary-200 flex gap-2 justify-center font-bold"
            >
              <i class="pi pi-shopping-cart"></i>
              Carrito
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</p-dialog>
