@if (loadingService.loading$ | async) {
<app-loading-products></app-loading-products>
}@else {
<div class="flex flex-col gap-3 cursor-pointer" [routerLink]="['/product', product.id]">
  <div class="bg-primary-50 rounded-xl shadow-lg p-3 border border-primary-100 relative product-car">
    <div class="flex flex-col justify-center gap-5">
      <div class="flex justify-between">
        <span class="bg-primary-200 py-2 px-4 rounded-md font-bold text-primary-800">{{product.brand}}</span>
        @if (product.discount != 0) {
        <span class="bg-primary-700 py-2 px-4 rounded-md font-medium text-primary-200">{{product.discount+' % OFF'}}</span>
        }
      </div>
      <div class="flex justify-center items-center h-[280px]">
        @if (isLoading) {
        <p-progress-spinner strokeWidth="2" fill="transparent" animationDuration=".2s" />
        }@else {
        <img
          [ngClass]="loadedClass"
          class="h-60 w-60 object-contain remove-white-bg transition-opacity duration-500 ease-in"
          [src]="finalUrl"
          [alt]="finalUrl"
        />
        }
      </div>
    </div>
    <!-- ELEMENTOS FLOTANTES -->
    <div class="flex actions-product gap-3">
      <p-button
        (onClick)="viewProduct(product, $event)"
        icon="pi pi-eye"
        [raised]="true"
        severity="secondary"
        size="large"
      ></p-button>
      <p-button
        (onClick)="addToCart(product, $event)"
        icon="pi pi-shopping-cart"
        [raised]="true"
        size="large"
        label="Agregar"
        severity="primary"
      ></p-button>
    </div>
  </div>
  <!-- SECCION DE DATOS -->
  <div class="flex flex-col gap-3">
    <span class="font-bold text-primary-700 dark:text-primary-100 text-2xl">{{product.name}}</span>
    <div class="flex gap-2 items-end">
      <span class="text-primary dark:text-primary-300 font-medium text-3xl">{{product.price |currency:'USD'}}</span>
      <span class="text-primary-300 dark:text-primary-50 font-semibold text-sm"
        >{{calculatePriceForBs(product.price)|currency:'Bs'}}</span
      >
    </div>
    <div class="flex justify-end">
      @let min_stock = product.min_stock ?? 0;
      <div
        [ngClass]="[calculateStock(product.stock, min_stock).bgClass,
              calculateStock(product.stock, min_stock).textClass]"
        class="flex gap-2 w-fit px-2 py-1 items-center justify-end rounded-md text-xs font-bold"
      >
        <span>{{calculateStock(product.stock, min_stock).label}}</span>
      </div>
    </div>
  </div>
</div>
}
<!-- VISUALIZAR PRODUCXTO EN MODAL -->
<p-dialog [modal]="true" [(visible)]="modalViewProduct" [style]="{ width: '980px'}">
  <section class="dark:bg-primary-50">
    <app-product-detail [product]="product"></app-product-detail>
  </section>
</p-dialog>
