<div class="flex justify-between">
  <span class="text-lg text-surface-800 font-bold">Tasa:</span>
  <span class="text-lg text-blue-500 ">{{getPriceDolarConfiguration()?.price|currency:'Bs'}}</span>
</div>

<div class="flex justify-between">
  <span class="text-lg text-surface-800 font-bold">Subtotal ($):</span>
  <span class="text-lg text-blue-500">{{getTotal() |currency:'USD'}}</span>
</div>

<div class="flex justify-between">
  <span class="text-lg text-surface-800 font-bold">Subtotal (Bs):</span>
  <span class="text-xl text-blue-500 font-bold self-end">{{calculatePriceForBs(getTotal())|currency:'Bs'}}</span>
</div>
