<div
  class="flex gap-4 dark:text-primary-900"
  [ngClass]="orientation==
'horizontal'?'flex-row text-yellow-950 text-base':'flex-col text-primary text-xl'"
>
  <a class="hover:font-bold cursor-pointer" routerLink="/landing">Hogar</a>
  <a class="hover:font-bold cursor-pointer" routerLink="/shop">Tienda</a>
  <a class="hover:font-bold cursor-pointer" routerLink="#">Productos</a>
  <a class="hover:font-bold cursor-pointer" routerLink="#">Ofertas</a>
  <a class="hover:font-bold cursor-pointer" routerLink="#">Términos y condiciones</a>
  <a class="hover:font-bold cursor-pointer" routerLink="#">Política de privacidad</a>
</div>
