/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';

* {
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: var(--surface-200);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 0px;
}

// .p-megamenu-item-icon,
// .p-megamenu-item-label {
//   color: var(--primary-color) !important;
//   font-weight: bolder;
// }
// .p-megamenu {
//   border-radius: 0 !important;
//   border: none !important;
// }

// .p-megamenu-submenu-label {
//   font-size: 18px !important;
//   font-weight: 600;
// }

.p-tree-node-label,
.p-tree-node-icon {
  color: var(--color-yellow-950) !important;
  font-size: 1.1rem !important;
}

.p-tree-root-children {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-evenly !important;
}
.p-tree-root {
  padding: 8px 0 !important;
}
.p-tree {
  position: relative !important;
  padding: 0 !important;
}

.actions-product {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition:
    bottom 0.3s ease,
    opacity 0.3s ease;
}

.remove-white-bg {
  mix-blend-mode: multiply;
}

.product-car:hover .actions-product {
  visibility: visible;
  position: absolute;
  opacity: 1;

  left: 50%;
  transform: translate(-50%, -60px);
}

.p-inputnumber {
  width: 100% !important;
}

.p-inputnumber input {
  width: 100% !important;
}

::selection {
  background: #e2e2e2;
  // color: #000;
}
