<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button
      [pTooltip]="labelNewButton"
      pRipple
      showDelay="400"
      tooltipPosition="bottom"
      [label]="labelNewButton"
      icon="pi pi-plus"
      severity="primary"
      class="mr-2"
      [outlined]="layoutService.isDarkTheme()"
      (click)="touchNew.emit()"
    />

    @if (viewDeleteButton) {
    <p-button
      pTooltip="eliminar registros"
      showDelay="400"
      [disabled]="disableDeleteButton"
      tooltipPosition="bottom"
      label="Eliminar"
      icon="pi pi-trash"
      severity="danger"
      [outlined]="layoutService.isDarkTheme()"
      (click)="touchDelete.emit()"
    />
    }
  </ng-template>

  <ng-template #end>
    <div class="flex gap-3">
      @if (viewExportPdfButton) {
      <p-button
        label="Exportar PDF"
        pTooltip="exportar pdf"
        tooltipPosition="bottom"
        showDelay="400"
        icon="pi pi-file-pdf"
        severity="danger"
        size="small"
        [outlined]="layoutService.isDarkTheme()"
        (onClick)="touchExport.emit()"
      />
      }

      <!-- BOTON EXEL -->
      @if (viewExportExcelButton) {
      <p-button
        label="Exportar EXCEL"
        pTooltip="exportar excel"
        tooltipPosition="bottom"
        showDelay="400"
        icon="pi pi-file-excel"
        severity="success"
        size="small"
        [outlined]="layoutService.isDarkTheme()"
        (onClick)="touchExport.emit()"
      />
      }
    </div>
  </ng-template>
</p-toolbar>
