<!-- seccion 1 bienvenida -->

@if (layoutService.isDesktop()) {
<div class="flex justify-between p-2 px-3 items-center bg-primary">
  <!-- IMAGEN -->
  <div class="flex gap-3 items-center">
    <span class="dark:text-primary-900 text-white font-bold">Obtenga envío gratuito en pedidos superiores a $80</span>
  </div>

  <!-- secciones de la pagina -->
  <app-page-sections></app-page-sections>
</div>
}

<!-- ------------------------------------------------------------------ -->
<!-- SECCIÓN DOS SEARCH Y REGISTRO -->
<!-- ------------------------------------------------------------------ -->
<div class="flex justify-between items-center p-3 bg-primary-900 dark:bg-surface-900 border-b-1 border-primary md:border-0">
  <div class="flex gap-2 items-center">
    <img src="/assets/images/logotipo.png" alt="logo" class="w-12 h-12" />
    <span class="font-bold text-base text-white">Tienda J3M</span>
  </div>
  <!-- ------------------------------------------------------------------ -->
  <!-- SECCIÓN DE BÚSQUEDA -->
  <!-- ------------------------------------------------------------------ -->
  <div class="w-3xl">
    @if (layoutService.isDesktop()) {
    <div class="bg-surface-50 rounded-md p-1 flex">
      <input
        class="outline-none text-primary placeholder:text-primary-900 text-lg px-2 w-full"
        type="text"
        placeholder="Buscar Productos"
      />
      <button pButton pRipple severity="primary">
        <span pButtonLabel>Buscar </span>
        <i class="pi pi-search"></i>
      </button>
    </div>
    }
  </div>

  <!-- ------------------------------------------------------------------ -->
  <!-- cONTENEDOR FLEX 2-->
  <!-- ------------------------------------------------------------------ -->
  <div class="flex justify-end gap-2 md:gap-5">
    <!-- ------------------------------------------------------------------ -->
    <!-- TEMA E INGRESO -->
    <!-- ------------------------------------------------------------------ -->
    <div class="flex items-center gap-2 md:border-r-1 md:pr-5 md:border-primary-800 dark:border-primary-50">
      @if (layoutService.isMobile()) {
      <app-shopping-cart></app-shopping-cart>
      }

      <app-floating-configurator [rounded]="false" pTooltip="Tema" tooltipPosition="bottom" severity="primary" [float]="false" />

      @if (layoutService.isMobile()) {
      <p-button
        pTooltip="Buscar Productos"
        (onClick)="visibleSearch.set(true)"
        tooltipPosition="bottom"
        severity="primary"
        iconPos="right"
        icon="pi pi-search"
      />
      } @if (layoutService.isDesktop()) {

      <p-button
        pTooltip="Ingresar"
        tooltipPosition="bottom"
        severity="primary"
        routerLink="/auth/login"
        iconPos="right"
        icon="pi pi-sign-in"
      />
      <p-button
        pTooltip="Registro"
        tooltipPosition="bottom"
        severity="primary"
        routerLink="/auth/register"
        iconPos="right"
        icon="pi pi-user-plus"
      />
      } @if(isExistToken && layoutService.isDesktop()){
      <p-button
        (click)="logout()"
        pTooltip="Salir"
        tooltipPosition="bottom"
        severity="danger"
        routerLink="/auth/register"
        iconPos="right"
        icon="pi pi-power-off"
      />
      }
    </div>

    <!-- ------------------------------------------------------------------ -->
    <!-- cUENTA Y CARRITO DE COMPRAS -->
    <!-- ------------------------------------------------------------------ -->
    <div class="flex items-center gap-2">
      @if (layoutService.isDesktop()) {
      
        <app-shopping-cart></app-shopping-cart>
      
      } @if(isExistToken && layoutService.isDesktop()){
      <div class="flex items-center gap-3 cursor-pointer">
        <p-avatar
          [style]="{ 'background-color': 'var(--color-primary-100)', color: 'var(--color-primary)' }"
          [pTooltip]="full_name"
          tooltipPosition="left"
          [label]="wordsInName"
          class="mr-2"
          size="large"
          shape="circle"
        />
      </div>
      } @if (layoutService.isMobile()) {
      <p-button (click)="menuVisible.set(true)" icon="pi pi-bars" />
      }
    </div>
  </div>
</div>

<!-- categorías -->

<div class="absolute w-full z-100">
  <p-tree [value]="files" class="w-full p-0" />
</div>

<p-drawer [(visible)]="menuVisible">
  <ng-template #header>
    <div class="flex items-center gap-2">
      @if(isExistToken ){
      <div class="flex items-center gap-3 cursor-pointer">
        <p-avatar
          [style]="{ 'background-color': 'var(--color-primary-100)', color: 'var(--color-primary)' }"
          [pTooltip]="full_name"
          tooltipPosition="left"
          [label]="wordsInName"
          class="mr-2"
          size="large"
          shape="circle"
        />
      </div>
      }
      <span class="font-bold">{{full_name}}</span>
    </div>
  </ng-template>
  <app-page-sections orientation="vertical"></app-page-sections>

  <ng-template #footer>
    <div class="flex justify-between">
      @if(isExistToken){
      <p-button
        (click)="logout()"
        pTooltip="Salir"
        styleClass="w-full"
        label="Salir"
        tooltipPosition="bottom"
        severity="danger"
        routerLink="/auth/register"
        iconPos="right"
        icon="pi pi-power-off"
      />
      }@else {
      <p-button
        styleClass="w-full"
        pTooltip="Ingresar"
        label="Ingreso"
        tooltipPosition="bottom"
        severity="primary"
        routerLink="/auth/login"
        iconPos="right"
        icon="pi pi-sign-in"
      />
      }
      <p-button
        pTooltip="Registro"
        styleClass="w-full"
        label="Registro"
        tooltipPosition="bottom"
        severity="primary"
        routerLink="/auth/register"
        iconPos="right"
        icon="pi pi-user-plus"
      />
    </div>
  </ng-template>
</p-drawer>

<p-drawer position="top" [(visible)]="visibleSearch" header="Búsqueda de productos">
  <div class="bg-surface-50 rounded-lg border-2 border-primary-300 flex">
    <input
      class="outline-none text-primary bg-primary-100 placeholder:text-primary-900 text-lg px-2 w-full"
      type="text"
      placeholder="Buscar Productos"
    />
    <button pButton pRipple severity="primary">
      <span pButtonLabel>Buscar </span>
      <i class="pi pi-search"></i>
    </button>
  </div>
</p-drawer>
