.p-tree-node-label,
.p-tree-node-icon {
  color: var(--primary-color) !important;
  font-size: 1.1rem !important;
}

.p-tree-root-children {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
.p-tree-root {
  padding: 8px 0 !important;
}
.p-tree{
  position: relative !important;
  padding: 0 !important;
}